.orgChart-container{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 12px;
}

.orgChart-container p{
  margin: 0; 
  padding: 0;
}

.orgChart-canvas{
  left : 0;
  top: 0;
  color : #000; 
  position: relative;
  background: #FFF;
  z-index:1 !important;
}

.orgChart-button-group{
  z-index:999;
  position: relative;
  width:50px;
}
.orgChart-zoom-button,.orgChart-print-button{
  display: block;
  border-radius: 20px; 
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px;
  width:40px; 
  height:40px;
  font-size: 30px;
  margin-top:5px;
  margin-left:2px;
  padding:0px;
  border: 0px solid #800000; 
  color: #FFF;
  background-color: #A4A4A4;
  z-index:9999;
  opacity: 0.1;
}
.orgChart-print-button{
  display:none;
  margin-top:15px;
  margin-left:2px;
  background: url(print-ico.svg) no-repeat center center;
  background-size: 17px 16px;
  background-color: #A4A4A4;

}
.orgChart-zoom-button:hover,
.orgChart-print-button:hover{
  opacity: 1;
} 

.orgChart-table{
  display: table;
  text-align: center;
  table-layout: fixed; /* fixed or auto */
}
.orgChart-table-left {
  float: right;
  margin-right:10px;
}
.orgChart-table-left .orgChart-expand-side{
  #margin-right:50px;
}
.orgChart-table-right{
  float: left;
  margin-left:11px;
}
.orgChart-table-right .orgChart-expand-side{
  #margin-left:51px;
}
.orgChart-row{
  width: 100%;
  padding-top: 2px;
  padding-bottom: 0px;
  border: 1px solid #000;
}
.orgChart-row-bullet{
 float: left;
}
.orgChart-row-tree{
 #float: left; 
}
.orgChart-col{
  min-height : 30px;
  vertical-align: top;  
}
.orgChart-cell{
  display: table-cell;
  min-height : 30px;
  padding: 10px;
  padding-bottom: 0px;  
}
.departmentBox, .departmentBox-empty{
  display: inline-block;
  min-width: 200px; /*mod by bomb - Old value=250px*/
  min-height: 75px;
  vertical-align: text-top; 
  z-index: 999;
  border: 1px solid  #41709C;
  color : #FFF;
  padding: 0px;
  margin-bottom: 20px;
}
.departmentBox:not(.departmentBox-empty){
  border-color: #CACACA;
}
.departmentBox:not(.departmentBox-empty):hover{
  cursor: pointer;
  opacity: 0.8;
}
.departmentBox-empty{
  border-color: #DBDBDB;
}

/*Default departmentBox-header*/
.departmentBox-header{
  background-color: #0072BB;
  padding: 2px 5px;
}
.departmentBox-empty .departmentBox-header{
  background-color: #5F5F5F;
}
/*Default departmentBox-body*/
.departmentBox-body{
  padding:0;
}
.departmentBox-body-left{
  display:inline-block;
  padding: 5px;
}
.departmentBox-body-left img{
  width:50px;
  height: auto;
  border:1px solid #8D9395;
}
.departmentBox-body-right{
  vertical-align:top;
  display:inline-block;
  padding: 5px;
  color: #000;
}
p.departmentBox-body-right-name{
  font-weight: bold;
  padding-bottom: 5px;
}
p.departmentBox-body-right-position{
  font-weight: normal;
}
.departmentBox:not(.departmentBox-empty) .departmentBox-body{
  background-color: #D9F4FD;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=##D9F4FD, endColorstr=##B8E0F9);
  background-image:-moz-linear-gradient(top, ##D9F4FD 44%, ##B8E0F9 100%);
  background-image:-webkit-linear-gradient(top, ##D9F4FD 44%, ##B8E0F9 100%);
  background-image:-ms-linear-gradient(top, ##D9F4FD 44%, ##B8E0F9 100%);
  background-image:linear-gradient(top, ##D9F4FD 44%, ##B8E0F9 100%);
  background-image:-o-linear-gradient(top, ##D9F4FD 44%, ##B8E0F9 100%);
  background-image:-webkit-gradient(linear, right top, right bottom, color-stop(44%,##D9F4FD), color-stop(100%,##B8E0F9));
}
.departmentBox-empty .departmentBox-body{
  background-color:#EBEBEB;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EBEBEB, endColorstr=#D6D6D6);
  background-image:-moz-linear-gradient(top, #EBEBEB 44%, #D6D6D6 100%);
  background-image:-webkit-linear-gradient(top, #EBEBEB 44%, #D6D6D6 100%);
  background-image:-ms-linear-gradient(top, #EBEBEB 44%, #D6D6D6 100%);
  background-image:linear-gradient(top, #EBEBEB 44%, #D6D6D6 100%);
  background-image:-o-linear-gradient(top, #EBEBEB 44%, #D6D6D6 100%);
  background-image:-webkit-gradient(linear, right top, right bottom, color-stop(44%,#EBEBEB), color-stop(100%,#D6D6D6));
}

.departmentBullet{
  padding: 2px;
  color: #000;
}

.orgChart-ul-tree{
  color: #000;
  display : block;
  margin : 0;
  padding-left:5px;
}
.orgChart-ul-bullet{
  list-style-type: disc;
  list-style-position: outside;
  list-style-image: none;
  color: #000;
  display : block;
  margin : 0;
  padding-left:5px;
  margin-right:20px;
  margin-top: 0px;
  margin-left:10px;
}
.orgChart-li-tree{
  padding-bottom: 10px;
  margin-left: 30px; /*mod by bomb*/
  text-align: left;  
}
.orgChart-li-bullet{
  padding-bottom: 5px;
  margin-left: 20px;
  text-align: left;  
}
.orgChart-cell-bullet{
  text-align: left;
}
.chartLine{
  border: 1px solid #017338;
  position: absolute;
  margin-left: -1px;
  z-index: 10;
}
.vertical-chartLine{
  width: 0;
}
.horizontal-chartLine{
  height: 0;  
}


.departmentDetails-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9900;
  display: none;
  background: rgba(0,0,0,0.5);
}
.departmentDetails-container{
    z-index: 1;
    border: 1px solid #CACACA;
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%,-50%);
    background-color:#FFF;
    -webkit-transition: top 0.5s ease-out;
    -moz-transition: top 0.5s ease-out;
    -o-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;    
}

.departmentDetails-header{
  background-color: #0072BB;
  color: #FFF;
  padding: 2px 5px;
}
.departmentDetails-body{
  padding:0;
  background-color: #D9F4FD;
  padding-bottom:50px;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=##D9F4FD, endColorstr=##B8E0F9);
  background-image:-moz-linear-gradient(top, ##D9F4FD 44%, ##B8E0F9 100%);
  background-image:-webkit-linear-gradient(top, ##D9F4FD 44%, ##B8E0F9 100%);
  background-image:-ms-linear-gradient(top, ##D9F4FD 44%, ##B8E0F9 100%);
  background-image:linear-gradient(top, ##D9F4FD 44%, ##B8E0F9 100%);
  background-image:-o-linear-gradient(top, ##D9F4FD 44%, ##B8E0F9 100%);
  background-image:-webkit-gradient(linear, right top, right bottom, color-stop(44%,##D9F4FD), color-stop(100%,##B8E0F9));

}
.departmentDetails-body-row{
  padding:0;
}

.departmentDetails-body-row-left{
  display:inline-block;
  padding: 5px;
}
.departmentDetails-body-row-left img{
  width:80px;
  height: auto;
  border:1px solid #8D9395;
}
.departmentDetails-body-row-right{
  vertical-align:top;
  display:inline-block;
  padding: 5px;
  color: #000;
}
p.departmentDetails-body-row-right-name{
  font-weight: bold;
  padding-bottom: 5px;
}
p.departmentDetails-body-row-right-position{
  font-weight: normal;
}

.departmentDetails-body-close{
  border-top: 5px solid #9EBED5;
  border-left: 5px solid #9EBED5;
  -ms-transform: rotate(45deg) translate(0,50%);
  -webkit-transform: rotate(45deg) translate(0,50%);
  transform: rotate(45deg) translate(0,50%);
  width:25px;
  height:25px; 
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: 
}
.departmentDetails-body-close:hover{
  cursor: pointer;
  bottom: 5px;
}