/* CSS Document */
/*
body {
	background-color:#0d6700;
}

.footer-bottom {
	padding : 10px;
	color : #0d6700;
}

.iconmenu a b {
	font-size:12px;
	line-height:16px;
}

.page-top, .home-features, #header {
	background-color:#03550E;
	color:#FFF;
}

.header-top, .header-top .container {
	background-color:#0d6700;
	color:#FFF;
}

.topbar, .gutter {
	background-color:#0d6700;
	color:#FFF;
}

.navbar.navbar-blue-dark {
	background-color:#03550E;
}

.navbar.navbar-blue-dark .navbar-collapse {
	background-color:#03550E;
}

.footer-bottom {
	background-color:#03550E;
}

.navbar.navbar-blue-dark .navbar-nav>li>a {
	background-color:#03550E;
	color:#FFF;
}

.navbar.navbar-blue-dark .navbar-nav>li:hover>a {
	background-color:#333;
	color:#FFF;
}

.navbar.navbar-blue-dark .navbar-nav>li.open:hover>a {
	background-color:#333;
	color:#FFF;
}

.navbar.navbar-blue-dark *:not(li)>a {
	color:#FFF;
}

.navbar.navbar-blue-dark .navbar-nav>li.divider {
	background-color:#0d6700;
}

.navbar.navbar-blue-dark .navbar-nav>li .dropdown-menu:not([class*="collaps"]) {
	background-color:#03550E; 
	color:#FFF;
}

.plan-price-sm a:link, .plan-price-sm a:visited {
	background-color:#000;
	color:#FFF;
}

.entry-title {
	color:#FFF;
}

.bread-crumb a {
    color: #FFF;
}

.bread-crumb .breadcrumb li.active {
    color: #FFF;
}

.nav > li > .flag {
    position: relative;
    display: block;
    padding: 10px 5px;
}

.banner {
    width: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.container {
	max-width:900px;
}
*/

.topTools {
	min-height : 120px;
}