
/* MegaNavbar v2.2.0 (http://www.MegaNavbar.com) Copyright 2014 MegaNavbar.com. All Rights Reserved.
** Licensed under Regular License (http://codecanyon.net/licenses/regular) or Extended License (http://codecanyon.net/licenses/extended)
** We will take legal action against those who copy our HTML content, CSS style sheets and JavaScript functions without a license.
*/

.navbar {
	margin-bottom:0px;
}

.navbar.navbar-blue-dark {
  background: #00AEEF;
  border-color: #00AEEF;
  color: #abcad8;
}

.navbar.navbar-blue-dark .navbar-collapse {
  background-color: #00AEEF;
  border-color: #00AEEF;
}
.navbar.navbar-blue-dark .navbar-text {
  color: #cee0e8;
}
.navbar.navbar-blue-dark a.navbar-link {
  color: #cee0e8;
  background-color: transparent;
}
.navbar.navbar-blue-dark a.navbar-link:hover,
.navbar.navbar-blue-dark a.navbar-link:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar.navbar-blue-dark .navbar-brand {
  color: #cee0e8;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-brand:hover,
.navbar.navbar-blue-dark .navbar-brand:focus {
  color: #ffffff;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-toggle {
  border-color: #4a85a0 !important;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-toggle .icon-bar {
  background-color: #cee0e8;
}
.navbar.navbar-blue-dark .navbar-toggle:hover,
.navbar.navbar-blue-dark .navbar-toggle:focus {
  border-color: #4a85a0 !important;
  background-color: #355f72 !important;
}
.navbar.navbar-blue-dark .navbar-toggle:hover .icon-bar,
.navbar.navbar-blue-dark .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}
.navbar.navbar-blue-dark .navbar-nav>li.divider {
  background-color: #32596b;
}
.navbar.navbar-blue-dark .btn-default {
  color: #cee0e8;
  background-color: #355f72;
  border-color: #4a85a0;
}
.navbar.navbar-blue-dark .btn-default:hover,
.navbar.navbar-blue-dark .btn-default:focus,
.navbar.navbar-blue-dark .btn-default:active,
.navbar.navbar-blue-dark .btn-default.active {
  color: #ffffff;
  background-color: #305768;
  border-color: #4a85a0;
}
.navbar.navbar-blue-dark .form-control {
  color: #cee0e8;
  background-color: #355f72;
  border-color: #4a85a0;
}
.navbar.navbar-blue-dark .form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 5px #4a85a0;
  box-shadow: inset 0 1px 1px transparent, 0 0 5px #4a85a0;
}
.navbar.navbar-blue-dark input::-webkit-input-placeholder,
.navbar.navbar-blue-dark textarea::-webkit-input-placeholder {
  color: rgba(206,224,232,0.3);
}
.navbar.navbar-blue-dark input::-moz-placeholder,
.navbar.navbar-blue-dark textarea::-moz-placeholder {
  color: rgba(206,224,232,0.3);
}
.navbar.navbar-blue-dark input:-ms-input-placeholder,
.navbar.navbar-blue-dark textarea:-ms-input-placeholder {
  color: rgba(206,224,232,0.3);
}
.navbar.navbar-blue-dark input:-moz-placeholder,
.navbar.navbar-blue-dark textarea:-moz-placeholder {
  color: rgba(206,224,232,0.3);
}
.navbar.navbar-blue-dark .navbar-nav > li[class*="dropdown"].dropdown-onhover:hover > a,
.navbar.navbar-blue-dark.dropdown-onhover .navbar-nav > li:hover > a[class*="dropdown"] {
  background-color: #223d49;
}
.navbar.navbar-blue-dark .navbar-nav>li>a {
  color: #FFF;
  background-color: #00AEEF;
}
.navbar.navbar-blue-dark .navbar-nav>li:hover>a {
  color: #ffffff;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-nav>li.active>a {
  color: #ffffff;
  background-color: #223d49;
}
.navbar.navbar-blue-dark .navbar-nav>li.active:hover>a {
  color: #ffffff;
  background-color: #223d49;
}
.navbar.navbar-blue-dark .navbar-nav>li.open>a {
  color: #ffffff;
  background-color: #223d49;
}
.navbar.navbar-blue-dark .navbar-nav>li.open:hover>a {
  color: #ffffff;
  background-color: #223d49;
}
.navbar.navbar-blue-dark .navbar-nav>li.disabled>a {
  color: #88b4c8;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-nav>li.disabled:hover>a {
  color: #88b4c8;
  background-color: #2a4b5a;
}
@media (min-width: 768px) {
  .navbar.navbar-blue-dark.dropdown-onhover.no-fix .navbar-nav>li>a,
  .navbar.navbar-blue-dark .navbar-nav.dropdown-onhover.no-fix>li>a,
  .navbar.navbar-blue-dark .navbar-nav>li.dropdown-onhover.no-fix>a {
    color: #cee0e8;
    background-color: #2a4b5a;
  }
  .navbar.navbar-blue-dark.dropdown-onhover.no-fix .navbar-nav>li:hover>a,
  .navbar.navbar-blue-dark .navbar-nav.dropdown-onhover.no-fix>li:hover>a,
  .navbar.navbar-blue-dark .navbar-nav>li.dropdown-onhover.no-fix:hover>a {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark.dropdown-onhover.no-fix .navbar-nav>li.active>a,
  .navbar.navbar-blue-dark .navbar-nav.dropdown-onhover.no-fix>li.active>a,
  .navbar.navbar-blue-dark .navbar-nav>li.dropdown-onhover.no-fix.active>a {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark.dropdown-onhover.no-fix .navbar-nav>li.active:hover>a,
  .navbar.navbar-blue-dark .navbar-nav.dropdown-onhover.no-fix>li.active:hover>a,
  .navbar.navbar-blue-dark .navbar-nav>li.dropdown-onhover.no-fix.active:hover>a {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark.dropdown-onhover.no-fix .navbar-nav>li.active.open>a,
  .navbar.navbar-blue-dark .navbar-nav.dropdown-onhover.no-fix>li.active.open>a,
  .navbar.navbar-blue-dark .navbar-nav>li.dropdown-onhover.no-fix.active.open>a {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark.dropdown-onhover.no-fix .navbar-nav>li.open>a,
  .navbar.navbar-blue-dark .navbar-nav.dropdown-onhover.no-fix>li.open>a,
  .navbar.navbar-blue-dark .navbar-nav>li.dropdown-onhover.no-fix.open>a {
    color: #cee0e8;
    background-color: #2a4b5a;
  }
  .navbar.navbar-blue-dark.dropdown-onhover.no-fix .navbar-nav>li.open:hover>a,
  .navbar.navbar-blue-dark .navbar-nav.dropdown-onhover.no-fix>li.open:hover>a,
  .navbar.navbar-blue-dark .navbar-nav>li.dropdown-onhover.no-fix.open:hover>a {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark.dropdown-onhover.no-fix .navbar-nav>li.disabled>a,
  .navbar.navbar-blue-dark .navbar-nav.dropdown-onhover.no-fix>li.disabled>a,
  .navbar.navbar-blue-dark .navbar-nav>li.dropdown-onhover.no-fix.disabled>a {
    color: #88b4c8;
    background-color: #2a4b5a;
  }
  .navbar.navbar-blue-dark.dropdown-onhover.no-fix .navbar-nav>li.disabled:hover>a,
  .navbar.navbar-blue-dark .navbar-nav.dropdown-onhover.no-fix>li.disabled:hover>a,
  .navbar.navbar-blue-dark .navbar-nav>li.dropdown-onhover.no-fix.disabled:hover>a {
    color: #88b4c8;
    background-color: #2a4b5a;
  }
  .navbar.navbar-blue-dark.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix)>li:not(.no-fix)>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix)>li:not(.no-fix)>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav:not(.no-fix)>li.dropdown-onhover:not(.no-fix)>a {
    color: #cee0e8;
    background-color: #2a4b5a;
  }
  .navbar.navbar-blue-dark.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix)>li:not(.no-fix):hover>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix)>li:not(.no-fix):hover>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav:not(.no-fix)>li.dropdown-onhover:not(.no-fix):hover>a {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix)>li:not(.no-fix).active>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix)>li:not(.no-fix).active>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav:not(.no-fix)>li.dropdown-onhover:not(.no-fix).active>a {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix)>li:not(.no-fix).active:hover>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix)>li:not(.no-fix).active:hover>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav:not(.no-fix)>li.dropdown-onhover:not(.no-fix).active:hover>a {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix)>li:not(.no-fix).open>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix)>li:not(.no-fix).open>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav:not(.no-fix)>li.dropdown-onhover:not(.no-fix).open>a {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix)>li:not(.no-fix).open:hover>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix)>li:not(.no-fix).open:hover>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav:not(.no-fix)>li.dropdown-onhover:not(.no-fix).open:hover>a {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix)>li:not(.no-fix).disabled>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix)>li:not(.no-fix).disabled>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav:not(.no-fix)>li.dropdown-onhover:not(.no-fix).disabled>a {
    color: #88b4c8;
    background-color: #2a4b5a;
  }
  .navbar.navbar-blue-dark.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix)>li:not(.no-fix).disabled:hover>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix)>li:not(.no-fix).disabled:hover>a,
  .navbar.navbar-blue-dark:not(.no-fix) .navbar-nav:not(.no-fix)>li.dropdown-onhover:not(.no-fix).disabled:hover>a {
    color: #88b4c8;
    background-color: #2a4b5a;
  }
}
@media (min-width: 768px) {
  .navbar.navbar-blue-dark:not(.no-border).dropdown-onhover .navbar-nav>li:hover>a,
  .navbar.navbar-blue-dark:not(.no-border) .navbar-nav.dropdown-onhover>li:hover>a,
  .navbar.navbar-blue-dark:not(.no-border) .navbar-nav li.dropdown-onhover:hover>a {
    border-color: #223d49;
  }
  .navbar.navbar-blue-dark:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav>.active>a:before {
    border-top-color: #223d49;
  }
  .navbar.navbar-blue-dark:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav>.open>a:before,
  .navbar.navbar-blue-dark:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav>li.dropdown-onhover:not(.disabled):hover>a:before,
  .navbar.navbar-blue-dark:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav.dropdown-onhover>li:not(.disabled):hover>a:before {
    border-bottom-color: #223d49;
  }
  .navbar.navbar-blue-dark:not(.navbar-fixed-bottom):not(.no-border).dropdown-onhover .navbar-nav>li:not(.disabled):hover>a:before {
    border-bottom-color: #223d49;
  }
  .navbar.navbar-blue-dark:not(.navbar-fixed-bottom) .navbar-nav>.active>a:after {
    border-top-color: #223d49;
  }
  .navbar.navbar-blue-dark:not(.navbar-fixed-bottom) .navbar-nav>.active:hover>a:after {
    border-top-color: #223d49;
  }
  .navbar.navbar-blue-dark:not(.navbar-fixed-bottom) .navbar-nav>.open>a:after,
  .navbar.navbar-blue-dark:not(.navbar-fixed-bottom) .navbar-nav>li.dropdown-onhover:not(.disabled):hover>a:after,
  .navbar.navbar-blue-dark:not(.navbar-fixed-bottom) .navbar-nav.dropdown-onhover>li:not(.disabled):hover>a:after {
    border-bottom-color: #3b5c6b;
  }
  .navbar.navbar-blue-dark:not(.navbar-fixed-bottom).dropdown-onhover .navbar-nav>li:not(.disabled):hover>a:after {
    border-bottom-color: #3b5c6b;
  }
  .navbar.navbar-blue-dark.navbar-fixed-bottom:not(.no-border) .navbar-nav>.active>a:before {
    border-bottom-color: #223d49;
  }
  .navbar.navbar-blue-dark.navbar-fixed-bottom:not(.no-border) .navbar-nav>.open>a:before,
  .navbar.navbar-blue-dark.navbar-fixed-bottom:not(.no-border) .navbar-nav>li.dropdown-onhover:not(.disabled):hover>a:before,
  .navbar.navbar-blue-dark.navbar-fixed-bottom:not(.no-border) .navbar-nav.dropdown-onhover>li:not(.disabled):hover>a:before {
    border-top-color: #223d49;
  }
  .navbar.navbar-blue-dark.navbar-fixed-bottom:not(.no-border).dropdown-onhover .navbar-nav>li:not(.disabled):hover>a:before {
    border-top-color: #223d49;
  }
  .navbar.navbar-blue-dark.navbar-fixed-bottom .navbar-nav>.active>a:after {
    border-bottom-color: #223d49;
  }
  .navbar.navbar-blue-dark.navbar-fixed-bottom .navbar-nav>.open>a:after,
  .navbar.navbar-blue-dark.navbar-fixed-bottom .navbar-nav>li.dropdown-onhover:not(.disabled):hover>a:after,
  .navbar.navbar-blue-dark.navbar-fixed-bottom .navbar-nav.dropdown-onhover>li:not(.disabled):hover>a:after {
    border-top-color: #3b5c6b;
  }
  .navbar.navbar-blue-dark.navbar-fixed-bottom.dropdown-onhover .navbar-nav>li:not(.disabled):hover>a:after {
    border-top-color: #3b5c6b;
  }
}
.navbar.navbar-blue-dark .dropdown-menu {
  background: #3b5c6b;
  color: #e7eef1;
  border-color: #2a4b5a;
  -webkit-box-shadow: 0 9px 12px #324e5b;
  box-shadow: 0 9px 12px #324e5b;
}
.navbar.navbar-blue-dark .navbar-nav>li[class*="dropdown"].dropdown-onhover:hover,
.navbar.navbar-blue-dark .navbar-nav.dropdown-onhover>li[class*="dropdown"]:hover,
.navbar.navbar-blue-dark.dropdown-onhover .navbar-nav>li[class*="dropdown"]:hover {
  background-color: #223d49;
}
.navbar.navbar-blue-dark a>span.desc {
  color: #a5c1cd;
}
.navbar.navbar-blue-dark a:hover>span.desc {
  color: #a5c1cd;
}
.navbar.navbar-blue-dark .dropdown-menu .btn-default {
  color: #e7eef1;
  background-color: #4c6d7c;
  border-color: #6393a9;
}
.navbar.navbar-blue-dark .dropdown-menu .btn-default:hover,
.navbar.navbar-blue-dark .dropdown-menu .btn-default:focus,
.navbar.navbar-blue-dark .dropdown-menu .btn-default:active,
.navbar.navbar-blue-dark .dropdown-menu .btn-default.active {
  color: #ffffff;
  background-color: #3b5c6b;
  border-color: #6393a9;
}
.navbar.navbar-blue-dark .dropdown-menu li.dropdown-header {
  color: #e7eef1;
}
.navbar.navbar-blue-dark *:not(li)>a {
  color: #b4dbfb;
}
.navbar.navbar-blue-dark *:not(li)>a:hover {
  color: #84c6fb;
}
.navbar.navbar-blue-dark .dropdown-menu>li>a {
  color: #e7eef1;
  background-color: #3b5c6b;
}
.navbar.navbar-blue-dark .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-nav>li .dropdown-menu:not([class*="collaps"]) {
  background-color: #3b5c6b;
  color: #e7eef1;
  border-color: #2a4b5a;
  -webkit-box-shadow: 0 9px 12px #324e5b;
  box-shadow: 0 9px 12px #324e5b;
}
.navbar.navbar-blue-dark.navbar-fixed-bottom .navbar-nav>li .dropdown-menu:not([class*="collaps"]) {
  -webkit-box-shadow: 0 -9px 12px #324e5b;
  box-shadow: 0 -9px 12px #324e5b;
}
.navbar.navbar-blue-dark .dropdown-menu .form-control {
  color: #e7eef1;
  background-color: #4c6d7c;
  border-color: #6393a9;
}
.navbar.navbar-blue-dark .dropdown-menu .form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 5px #6393a9;
  box-shadow: inset 0 1px 1px transparent, 0 0 5px #6393a9;
}
.navbar.navbar-blue-dark .dropdown-menu input::-webkit-input-placeholder,
.navbar.navbar-blue-dark .dropdown-menu textarea::-webkit-input-placeholder {
  color: rgba(231,238,241,0.3);
}
.navbar.navbar-blue-dark .dropdown-menu input::-moz-placeholder,
.navbar.navbar-blue-dark .dropdown-menu textarea::-moz-placeholder {
  color: rgba(231,238,241,0.3);
}
.navbar.navbar-blue-dark .dropdown-menu input:-ms-input-placeholder,
.navbar.navbar-blue-dark .dropdown-menu textarea:-ms-input-placeholder {
  color: rgba(231,238,241,0.3);
}
.navbar.navbar-blue-dark .dropdown-menu input:-moz-placeholder,
.navbar.navbar-blue-dark .dropdown-menu textarea:-moz-placeholder {
  color: rgba(231,238,241,0.3);
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu>li[class*="-onhover"],
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu>li[class*="-onclick"] {
  color: #e7eef1;
  background-color: #3b5c6b;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu>li[class*="-onhover"]:hover>a,
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu>li[class*="-onclick"]:hover>a {
  color: #ffffff;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li:not(.list-group) > a {
  color: #e7eef1;
  background-color: #3b5c6b;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li:not(.list-group) > a:hover {
  color: #ffffff;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li.active > a {
  color: #ffffff;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li.active > a:hover {
  color: #ffffff;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li[class*="-onhover"]>a:hover {
  color: #ffffff;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li.open > a,
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li:not(.no-fix) > a.dropdown-toggle:not(.collapsed) {
  color: #ffffff;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li.open > a:hover,
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li:not(.no-fix) > a.dropdown-toggle:not(.collapsed):hover {
  color: #ffffff;
  background-color: #2a4b5a;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li.disabled > a {
  color: #6393a9;
  background-color: #3b5c6b;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li.disabled > a>span.desc {
  color: #6393a9;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li.disabled > a:hover>span.desc {
  color: #6393a9;
}
.navbar.navbar-blue-dark .navbar-nav .dropdown-menu li.disabled > a:hover {
  color: #6393a9;
  background-color: #3b5c6b;
}
.navbar.navbar-blue-dark .navbar-nav li:not(.dropdown)>.dropdown-menu.bordered:not(.no-padding):after,
.navbar.navbar-blue-dark .navbar-nav li:not(.dropdown)>.dropdown-grid-wrapper>.dropdown-menu.bordered:not(.no-padding):after {
  outline-color: #4c6d7c;
}
.navbar.navbar-blue-dark .dropdown-menu li.divider,
.navbar.navbar-blue-dark .v-divided>*:before,
.navbar.navbar-blue-dark .v-divided>*:after,
.navbar.navbar-blue-dark .h-divided>*:after,
.navbar.navbar-blue-dark .h-divided>*:first-child:before,
.navbar.navbar-blue-dark .h-divider:after {
  background-color: #4c6d7c;
}
.navbar.navbar-blue-dark .divided>*:before {
  border-color: #4c6d7c;
}
@media (max-width: 767px) {
  .navbar.navbar-blue-dark .navbar-nav li.xs-hover>a {
    color: #cee0e8;
    background-color: #2a4b5a;
  }
  .navbar.navbar-blue-dark .navbar-nav li.xs-hover>a:hover {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark .navbar-nav li.xs-hover.open:not(.no-fix)>a {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark .navbar-nav li.xs-hover.open:not(.no-fix)>a:hover {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark .navbar-nav li.xs-hover.no-fix>a {
    color: #cee0e8;
    background-color: #2a4b5a;
  }
  .navbar.navbar-blue-dark .navbar-nav li.xs-hover.no-fix>a:hover {
    color: #ffffff;
    background-color: #223d49;
  }
  .navbar.navbar-blue-dark .navbar-collapse>.navbar-form,
  .navbar.navbar-blue-dark .navbar-collapse>a.navbar-link,
  .navbar.navbar-blue-dark .navbar-collapse>.navbar-text,
  .navbar.navbar-blue-dark .navbar-collapse .navbar-nav>.navbar-form,
  .navbar.navbar-blue-dark .navbar-collapse .navbar-nav>li,
  .navbar.navbar-blue-dark .navbar-collapse .navbar-nav>.navbar-text,
  .navbar.navbar-blue-dark .navbar-collapse .navbar-nav>a.navbar-link,
  .navbar.navbar-blue-dark .navbar-collapse .navbar-nav>.navbar-form {
    border-bottom-color: #193a49 !important;
    -webkit-box-shadow: 0 1px 0 #3b5c6b !important;
    box-shadow: 0 1px 0 #3b5c6b !important;

  }
  .navbar.navbar-blue-dark .navbar-nav .dropdown-menu .divider {
    background-color: #4c6d7c;
  }
  .navbar.navbar-blue-dark .navbar-nav>li>.dropdown-grid-wrapper>.dropdown-menu,
  .navbar.navbar-blue-dark .navbar-nav>li>.dropdown-menu {
    border-top-color: #4c6d7c !important;
    -webkit-box-shadow: 0 -1px 0 #223d49 !important;
    box-shadow: 0 -1px 0 #223d49 !important;
  }
}