/* CSS Document */
.topTools {
	min-height : 120px;
}

body {
	font-size:12px;
}

.dropdown-menu {
	font-size:12px;
}

.xcrud-th th {
	background:#1379C7;
}

th {
	background:#1379C7;
}

.btn-default {
	background:#999;
}

    
.icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 30px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}

.pastel-blue {
    background-color: #66CCFF;
}

.pastel-pink {
    background-color: #FFCCFF;
}

.pastel-green {
    background-color: #99FF99;
}

.pastel-yellow {
    background-color: #FFFF99;
}

.btn-green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-green:hover, .btn-green:active {
    background-color: #449d44;
    border-color: #398439;
}

.cancelled {
    text-decoration: line-through !important;
}

.btn-sm {
    font-size: 12px !important;
}

.lighttr th {
    background-color:#EEE;
}

.thlight {
    color : #FFF;
}