/*------------------------------------------------------*/
/* Common Styles for overall theme
/*------------------------------------------------------*/
@font-face {
    font-family: THSarabunNew;
    src: url('../fonts/thsarabunnew.eot');
    src: url('../fonts/thsarabunnew.eot?') format('embedded-opentype'), 
         url('../fonts/thsarabunnew.woff') format('woff'), 
         url('../fonts/thsarabunnew.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
body {
  background: #f0f5f7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3a3c41;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-weight: 700;
  color: #3a3c41;
}
a {
  outline: 0;
}
a:hover {
    outline: none;
  text-decoration: none;
}
a:focus {
  outline: none;
    text-decoration: none;
}
a:active {
    outline: none;
    text-decoration: none;
}
a:visited {
    outline: none;
    text-decoration: none;
}
button::-moz-focus-inner {
  border: 0;
}
input::-moz-focus-inner {
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
}
label {
  color: #3a3c41;
  font-weight: 500;
  font-size: 16px;
}
/* slogan section */
.slogan-section {
  margin-bottom: 50px;
  text-align: center;
}
.slogan-section h2 {
  margin: 0 0 10px;
  font-weight: 400;
}
.text-left {
  text-align: left;
}
.line-section {
  margin-bottom: 20px;
}
.line-section h3,
.line-section h4,
.line-section h5 {
  margin: 0 0 20px;
}
.for-border {
  height: 11px;
  width: 100%;
  background: transparent url(../images/feature-border.png) center center no-repeat;
  border: none;
}
h2 {
  font-size: 30px;
}
h2.blue {
  font-weight: 800;
  color: #66c9e0;
}
h2.blue a {
  font-weight: 800;
  color: #66c9e0;
}
h2.blue a:hover {
  color: #65a1b0;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
h3 a {
  font-size: 24px;
  color: #3a3c41;
  font-weight: 700;
}
h3.blue {
  font-weight: 700;
  color: #66c9e0;
}
h3.blue a {
  font-weight: 800;
  color: #66c9e0;
}
h3.blue a:hover {
  color: #65a1b0;
}
h4 {
  font-size: 21px;
  font-weight: 700;
}
h5 {
  font-size: 18px;
  font-weight: 700;
}
h5 a {
  font-size: 18px;
  font-weight: 700;
  color: #3a3c41;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 24px;
}
.btn {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 10px 15px;
  border-radius: 0;
}
.btn:hover,
.btn:focus {
  color: #136d82;
}
input,
textarea {
  font-size: 14px;
  font-weight: 600;
  color: #9ba0aa;
  resize: none;
}
.read-more {
  font-size: 14px;
  font-weight: 700;
  background-color: #67c9e0;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
}
.read-more:hover {
  color: #fff;
  background-color: #f15b5a;
  text-decoration: none;
}
.read-more.black {
  background-color: #3a3c41;
}
.read-more.black:hover {
  background-color: #f15b5a;
}
.read-more.red {
  background-color: #f15b5a;
}
.read-more.red:hover {
  background-color: #e15251;
}
.read-more.orange {
  background-color: #ffa13c;
}
.read-more.orange:hover {
  background-color: #e19132;
}
.read-more.yellow {
  background-color: #ffd543;
}
.read-more.yellow:hover {
  background-color: #e1b63f;
}
.read-more.green {
  background-color: #6dc068;
}
.read-more.green:hover {
  background-color: #65b760;
}
.common-style {
  padding: 81px 0;
}
.nothing-found {
  padding: 20px;
  background-color: #fff;
}
.arrow-style {
  padding-left: 0;
  text-align: left;
}
.arrow-style li {
  background: url("../images/list-arrow-style.png") left 3px no-repeat;
  padding-left: 25px;
  line-height: 21px;
  margin-bottom: 30px;
  color: #999ca5;
  list-style: none;
}
.plus-icon:after {
  content: url("../images/plus-red2.png");
  margin-left: 10px;
}
::-webkit-input-placeholder {
  color: #232426;
}
::-moz-placeholder {
  color: #232426;
}
:-ms-input-placeholder {
  color: #232426;
}
input:-moz-placeholder {
  color: #232426;
}
#message-sent {
  clear: both;
}
.gray-scale img:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.gray-scale img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.isotope-wrapper {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
}
/*------------------------------------------------------*/
/* WordPress Core
/*------------------------------------------------------*/
a img.alignnone,
.alignnone {
  float: none;
}
.aligncenter,
a img.aligncenter,
div.aligncenter {
  display: block;
  margin: 20px auto;
}
a img.alignright,
.alignright {
  float: right;
  margin: 0 0 15px 20px;
}
a img.alignleft,
.alignleft {
  float: left;
  margin: 0 20px 15px 0;
}
p.wp-caption {
  margin: 0;
}
.wp-caption.alignnone {
  float: none;
}
.wp-caption.alignleft {
  float: left;
}
.wp-caption.alignright {
  float: right;
}
.wp-caption p.wp-caption-text {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  text-align: center;
  font-size: 11px;
  letter-spacing: 1px;
  color: #7b7d85;
}
blockquote p {
  margin-bottom: 0;
}
.wp-caption-text,
.gallery-caption {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  text-align: center;
  font-size: 11px;
  letter-spacing: 1px;
  color: #888;
}
/*------------------------------------------------------*/
/* Similar Page styles
/*------------------------------------------------------*/
.banner {
  width: 100%;
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center top;
  /*background-image: url('../images/banner/banner-contact.jpg');*/
  background-size: cover;
}
.page-top {
  padding: 27px 0;
  background: #fff;
  border-bottom: 1px solid #DDD;
}
.page-top h1,
.page-top h2 {
  margin: 5px 15px 0 0;
  font-size: 30px;
  font-weight: 400;
  float: left;
  line-height: 46px;
}
.bread-crumb {
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  margin-top: 25px;
}
.bread-crumb .breadcrumb {
  padding: 0;
  background: none;
  border-radius: 0;
  margin: 0;
}
.bread-crumb .breadcrumb li {
  display: block;
  float: left;
}
.bread-crumb .breadcrumb > li + li:before {
  content: "";
  padding: 0;
}
.bread-crumb .breadcrumb li.active {
  color: #f15b5a;
}
.bread-crumb .divider {
  display: inline-block;
  background: url("../images/breadcrumbs-divider.png") center center no-repeat;
  width: 24px;
  height: 10px;
}
.bread-crumb a {
  font-weight: 400;
  color: #3a3c41;
  display: inline-block;
}
.bread-crumb a:hover {
  text-decoration: underline;
}
#search {
  margin-bottom: 0;
}
#search form {
  position: relative;
}
#search form input[type="text"] {
  background-color: #f0f5f7;
  width: 100%;
  padding: 13px 10px 13px 40px;
  border: 1px solid #dddddd;
  outline: none;
  font-weight: 400;
  color: #3a3c41;
  margin-bottom: 0;
}
#search form input[type="submit"] {
  background: url("../images/search-submit.png") center no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 15px;
  top: 16px;
  z-index: 999;
  border: none;
  outline: none;
  padding: 0;
}
#filters {
  padding: 0;
  border-bottom: 1px solid #dcdee4;
  margin-bottom: 30px;
}
#filters li {
  list-style: none;
  display: inline-block;
  margin: 0 18px -1px 0;
  padding-bottom: 2px;
}
#filters li a {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
  display: inline-block;
  text-decoration: none;
}
#filters li:hover {
  padding-bottom: 0;
  border-bottom: 2px solid #f15b5a;
}
#filters li:hover a {
  padding-bottom: 20px;
}
#filters li.active {
  padding-bottom: 0;
  border-bottom: 2px solid #f15b5a;
}
#filters li.active a {
  padding-bottom: 20px;
}
.pagination {
  /*display: block;
  text-align: center;
  margin-left: -8px;*/
  border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
}
.pagination a,
.pagination span {
  background-color: #fff;
  font-size: 14px;
  color: #3a3c41;
  display: inline-block;
  margin: 0 0 4px 4px;
  font-weight: 700;
  padding: 5px 5px;
  text-decoration: none;
}
.pagination a:hover,
.pagination span:hover {
  background-color: #66c9e0;
  color: #fff;
}
.pagination span.current {
  background-color: #66c9e0;
  color: #fff;
}
.social-icon ul {
  padding: 0;
}
.social-icon ul li {
  list-style: none;
  background-color: #dcdee4;
  display: inline-block;
}
.social-icon ul li a {
  width: 36px;
  height: 36px;
  display: inline-block;
}
.social-icon ul li .fa {
  font-size: 18px;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 36px;
}
.social-icon ul li:hover {
  background-color: #66c9e0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
code {
  white-space: normal;
}
#scroll-top {
  display: inline;
}
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #67c9e0;
  text-align: center;
  display: table;
  z-index: 99999999;
}
.loader .table-cell {
  display: table-cell;
  vertical-align: middle;
  min-height: 100%;
}
.loader h1 {
  margin-top: 2rem;
  font-size: 4rem;
  line-height: 4rem;
  color: #fff;
  font-weight: 800;
}
form input[type="text"],
form input[type="email"],
form input[type="url"],
form input[type="tel"],
form input[type="number"],
form input[type="date"],
form input[type="range"],
form input[type="password"],
form input[type="text"],
form textarea {
  width: 100%;
  height: auto;
  border: 1px solid #dcdee4;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 11px 10px;
  color: #3a3c41;
  font-weight: 500;
}
form input[type="file"] {
  margin-bottom: 30px;
  color: #3a3c41;
}
form input[type="submit"] {
  padding: 12px 25px;
  background-color: #3a3c41;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
}
form input[type="submit"]:hover {
  background-color: #f15b5a;
}
form input[type="submit"]:focus{
    outline: none;
}
form input.error,
form textarea.error {
  border: 1px solid #ff0000;
}
form fieldset label {
  font-size: 14px;
  color: #999ca5;
  font-weight: 500;
  border-bottom: 1px solid #dcdee4;
  padding: 5px;
  float: left;
}
form fieldset .common {
  display: inline-block;
  float: left;
  margin-left: 7px;
}
form p {
  margin: 0;
}
textarea,
input {
 /* -webkit-appearance: none;*/
  -webkit-border-radius: 0px;
}
#error-container {
  margin: 0;
}
#error-container label {
  font-size: 14px;
  display: block;
}
/* IE8 Specific Styles */
.ie8 img {
  width: inherit;
  max-width: 100% !important;
  height: auto !important;
}
.ie8 .features-var-three .feature-icon img,
.ie8 .features-var-two .single-feature img,
.ie8 .home-testimonial .flexslider-three .slides img,
.ie8 .appoint-page .appoint-section .top-icon img {
  width: auto !important;
}
.ie8 .overlay {
  visibility: hidden;
}
/*------------------------------------------------------*/
/*  Header styles
/*------------------------------------------------------*/
.header-top {
  background-color: #00AEEF;
  padding: 11px 0;
}
.header-top p {
  color: #fff;
}
.header-top p span {
  color: #fefefe;
  white-space: pre;
}
.header-top #inspiry_language_list {
  margin-left: 5px;
  float: right;
}
.header-top #inspiry_language_list ul {
  list-style: none;
  padding: 0;
}
.header-top #inspiry_language_list ul li {
  float: left;
  margin: 0 0 0 10px;
}
.header-top #inspiry_language_list ul li img {
  margin: 0 0 0 0;
  vertical-align: bottom;
}
.header-top #inspiry_language_list ul li span {
  font-size: 12px;
}
.header-top #inspiry_language_list ul li a {
  font-size: 12px;
  color: #bbbfc9;
}
.header-top #inspiry_language_list ul li a:hover {
  color: #fefefe;
}
.nav-toggle {
  display: none;
}
#header {
/*  padding: 15px 0;*/
  background: #00AEEF;
  border-color: #223d49;  
}
#header .logo {
  float: left;
}
#header .logo h1 {
  margin: 0;
}
#header .logo h1 a {
  font-size: 30px;
  font-weight: 800;
}
#header .logo img {
  margin-top: 0px;
}
#appointment_form_one #app-message {
  margin-top: 5px;
  margin-bottom: 0;
}
#appointment_form_one #appointment-loader {
  margin-top: 10px;
}
.appoint-var-three {
  padding: 40px 0;
  background-position: 85% 0;
  background-repeat: no-repeat;
  background-color: #f0f5f7;
  background-image: url('../images/appointment-bg.png');
}
.appoint-var-three .slogan-section {
  text-align: left;
  margin-bottom: 30px;
}
.appoint-var-three .slogan-section h3 {
  margin: 0 0 10px;
}
.appoint-var-three .appointment-form input[type="text"],
.appoint-var-three .appointment-form input[type="email"],
.appoint-var-three .appointment-form textarea {
  background: none;
  border: 0;
  border-bottom: 2px solid #d3d8da;
  width: 100%;
  display: inline-block;
  resize: none;
  padding: 0px 5px 5px 5px;
}
.appoint-var-three .appointment-form input[type="text"]:focus,
.appoint-var-three .appointment-form input[type="email"]:focus,
.appoint-var-three .appointment-form textarea:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}
.appoint-var-three .appointment-form ::-webkit-input-placeholder {
  color: #a7adaf;
}
.appoint-var-three .appointment-form :-moz-placeholder {
  color: #a7adaf;
}
.appoint-var-three .appointment-form ::-moz-placeholder {
  color: #a7adaf;
}
.appoint-var-three .appointment-form :-ms-input-placeholder {
  color: #a7adaf;
}
.appoint-var-three .appointment-form input[type="text"],
.appoint-var-three .appointment-form input[type="email"] {
  margin-bottom: 23px;
}
.appoint-var-three .appointment-form input[type="submit"] {
  font-size: 14px;
  border: 0;
  padding: 10px 20px;
  color: #fff;
  background-color: #f15b5a;
  margin: 5px 0 20px;
}
.appoint-var-three .appointment-form input[type="submit"]:hover {
  background-color: #898e99;
}
.appoint-var-three .appointment-form input.error,
.appoint-var-three .appointment-form textarea.error {
  border: 0;
  border-bottom: 2px solid #ff0000;
}
.appoint-var-three .appointment-form #appointment-loader {
  margin: 8px 0 0 20px;
}
.appoint-var-three .appointment-form #message-sent {
  clear: both;
  font-weight: 600;
  font-size: 16px;
}
#appointment-loader {
  display: none;
}
/*------------------------------------------------------*/
/* Home Contents
/*------------------------------------------------------*/
.default-contents {
  margin: 60px 0;
}
/*------------------------------------------------------*/
/* Home Features Styles
/*------------------------------------------------------*/
.home-features {
  padding: 30px 0 30px;
  background-color: #fff;
}
.home-features .features-intro h2 {
  margin: 0 0 30px;
  font-weight: 400;
}
.home-features .features-intro p {
  margin-bottom: 30px;
}
.home-features .features-intro .read-more {
  background-color: #f15b5a;
  color: #fff;
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 16px;
}
.home-features .features-intro .read-more:hover {
  background-color: #3a3c41;
  color: #fff;
}
.home-features .single-feature {
  margin-bottom: 60px;
    min-height: 150px;
}
.home-features .information-feature {
  margin-bottom: 60px;
  min-height: 80px;
}
.home-features .information-feature p{
font-size:12px;
line-height:16px;
}
.home-features .single-feature h3 {
  margin: 0 0 15px;
  font-size: 22px;
}
.home-features .icon-wrapper {
  text-align: right;
}
.home-features .icon-wrapper .fa-custom {
  font-size: 60px;
  color: #67c9e0;
}
/*------------------------------------------------------*/
/* Home Features Variation Two
/*------------------------------------------------------*/
.features-var-two {
  padding: 30px 0 30px;
  background-color: #fff;
}
.features-var-two .slogan-section {
  margin-bottom: 50px;
}
.features-var-two .single-feature {
  margin-bottom: 60px;
}
.features-var-two .single-feature img {
  margin: 0 auto 30px;
}
.features-var-two .single-feature h3 {
  margin: 0 0 20px;
  font-size: 18px;
}
.features-var-two .single-feature h3 a {
  font-size: 18px;
}
.features-var-two .single-feature .feature-border {
  height: 11px;
  background: transparent url(../images/feature-border.png) no-repeat center center;
  margin: 0 0 20px;
}
/*------------------------------------------------------*/
/* Home Features Variation Three
/*------------------------------------------------------*/
.features-var-three {
  padding: 90px 0 30px;
  background-color: #fff;
}
.features-var-three .slogan-section {
  margin-bottom: 60px;
}
.features-var-three .single-feature {
  margin-bottom: 55px;
}
.features-var-three .single-feature h5 {
  margin: 0 0 15px;
  font-weight: 500;
  font-size: 18px;
}
.features-var-three .single-feature h5 a {
  font-size: 18px;
}
.features-var-three .single-feature p {
  color: #b0b1b6;
}
.features-var-three .feature-icon img {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.features-var-three .single-feature:hover img {
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
}
/*------------------------------------------------------*/
/*  Home Team Styles
/*------------------------------------------------------*/
.home-doctors {
  text-align: center;
  padding: 70px 0 80px;
}
.home-doctors .common-doctor {
  background-color: #fff;
}
.home-doctors .common-doctor figure {
  overflow: hidden;
}
.home-doctors .common-doctor h5 {
  margin: 0 0 20px;
}
.home-doctors .common-doctor .for-border {
  margin-bottom: 20px;
}
.home-doctors .common-doctor .text-content {
  padding: 20px 15px 30px;
}
.home-doctors.doctors-var-two {
  text-align: left;
  background-color: #fff;
}
.home-doctors.doctors-var-two .slogan-section {
  text-align: left;
}
.home-doctors.doctors-var-two .common-doctor {
  background-color: transparent;
}
.home-doctors.doctors-var-two .common-doctor .for-border {
  display: none;
}
.home-doctors.doctors-var-two .common-doctor .text-content {
  padding: 20px 0 20px;
}
.home-doctors.doctors-var-two .text-center {
  text-align: left;
}
/*------------------------------------------------------*/
/* Home Blog Styles
/*------------------------------------------------------*/
.home-blog {
  padding: 90px 0;
  background-color: #fff;
}
.home-blog .common-blog-post {
  background-color: #f0f5f7;
}
.home-blog .common-blog-post figure {
  overflow: hidden;
}
.home-blog .common-blog-post .text-content {
  padding: 25px;
  text-align: left;
}
.home-blog .common-blog-post .text-content h5 {
  margin: 0 0 10px;
}
.home-blog .common-blog-post .text-content p {
  margin: 0 0 15px;
}
.home-blog .common-blog-post .entry-meta {
  margin: 0 0 15px;
  font-style: italic;
}
.home-blog .common-blog-post .entry-meta time {
  color: #a1a9b0;
}
.home-blog .common-blog-post .entry-meta a {
  text-transform: capitalize;
  font-weight: 500;
}
.home-blog .common-blog-post .for-border {
  margin: 0 0 15px;
}
.home-blog .common-blog-post .gallery-slider {
  margin: 0;
}
.home-blog .common-blog-post .video {
  margin: 0;
}
.home-blog .video .video-wrapper {
  padding-bottom: 61.0%;
}
.home-blog.blog-var-two .slogan-section {
  text-align: left;
}
.home-blog.blog-var-two .common-blog-post {
  background: transparent;
}
.home-blog.blog-var-two .common-blog-post .text-content {
  padding: 25px 0 10px;
}
.home-blog.blog-var-two .entry-meta {
  margin: 0 0 20px;
  font-style: normal;
}
.home-blog.blog-var-two .for-border {
  display: none;
}

/*------------------------------------------------------*/
/* Footer styles
/*------------------------------------------------------*/
#main-footer {
  background-color: #e8e8e8;
  padding: 30px 0 0 0;
  color: #333333;
  line-height: 24px;
}
#main-footer .widget h3.title {
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 700;
}
#main-footer .widget p {
  margin-bottom: 25px;
}
#main-footer .widget a {
  color: #111;
}
#main-footer .widget a:hover {
  color: #555;
  border-bottom:1px solid #555;
}
#main-footer .widget ul {
  border-color: #4a4c52;
}
#main-footer .widget ul li {
  border-color: #4a4c52;
}
#main-footer .widget .tagcloud a {
  color: #fff;
}
#main-footer .widget label {
  color: #9ba0aa;
}
#main-footer .widget input[type="text"] {
  background-color: #515359;
  border: none;
  padding: 12px 15px;
  margin-bottom: 13px;
  width: 100%;
  color: #fff;
  outline: none;
  overflow: hidden;
}
#main-footer .widget input[type="text"]:focus {
  background-color: #696c74;
}
#main-footer .widget input[type="submit"] {
  border: none;
  background-color: #67c9e0;
  color: #fff;
}
#main-footer .widget input[type="submit"]:hover {
  background-color: #4dbed9;
}
#main-footer .widget .wp-email-capture-widget {
  margin: 20px 0;
}
#main-footer .appoint-widget span {
  border-bottom: 1px solid #4a4c52;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: block;
}
#main-footer .appoint-widget span:last-child {
  border-bottom: none;
}
#main-footer #wp_email_capture > form > div {
  background: transparent !important;
  color: #e0e0e0;
  margin: 0 0 15px !important;
  width: 100%;
}
#subs_form #subs-error-container{
    margin-top: 10px;
}
#subs_form #subs-error-container label{
    font-size: 14px;
}
#subs_form #subs-response-container{
    margin-top: 10px;
}
/*------------------------------------------------------*/
/* Footer Bottom
/*------------------------------------------------------*/
.footer-bottom {
/*margin-top: 10px;
  border-top: 1px solid #4a4c52;
  padding-top: 26px;*/
}
.footer-bottom p {
  color: #fff;
}
.footer-bottom .footer-social-nav {
  margin: 0;
  padding: 0;
  float: right;
}
.footer-bottom .footer-social-nav li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}
.footer-bottom .footer-social-nav li .fa {
  font-size: 18px;
  display: block;
  text-align: center;
  line-height: 20px;
  color: #fff;
}
.footer-bottom .footer-social-nav li .fa:hover {
  font-size: 20px;
  color: #F37916;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-top: -2px;
}
.footer-bottom .footer-social-nav li a {
  width: 20px;
  height: 20px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-bottom .footer-social-nav li a:hover {
  text-decoration: none;
}
/*------------------------------------------------------*/
/* Scroll Top
/*------------------------------------------------------*/
a#scroll-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 80px;
  height: 42px;
  width: 42px;
  z-index: 9999;
  line-height: 3em;
  background: #67c9e0 url("../images/scroll-top.png") center center no-repeat;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-radius: 50px;
}
a#scroll-top:hover {
  background-color: #52abc0;
}

/*------------------------------------------------------*/
/* Isotope Filtering
/*------------------------------------------------------*/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/*------------------------------------------------------*/
/* Isotope CSS3 transitions
/*------------------------------------------------------*/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/*------------------------------------------------------*/
/* Tabs widget
/*------------------------------------------------------*/
.tabs {
  background-color: #fff;
  border:1px solid #eee;
}
.tabs .tab-head {
  background-color: #f0f5f7;
  /*border: 1px solid #dde1e3;*/
  padding: 10px 0;
  text-align: center;
  float: left;
  width: 33.3333333333%;
  position: relative;
  cursor: pointer;
}
.tabs .tab-head h6 {
  margin: 5px 0;
  font-weight: 700;
}
.tabs .tab-head.active {
  background: #fff;
  border: 0;
  border-top: 5px solid #1157ad;
  margin-top: -1px;
}
.tabs .tabs-content {
  display: none;
  clear: both;
  padding: 20px 15px 10px;
}
.tabs .tab-post-listing {
  margin-bottom: 15px;
}
.tabs .tab-post-listing figure {
  width: 100px;
  float: left;
  margin: 0 15px 0 0;
}
.tabs .tab-post-listing h6 {
  font-size: 14px;
  font-weight: 700;
  margin: 2px 0 5px;
  line-height: 18px;
}
.tabs .tab-post-listing span {
  font-size: 12px;
  color: #999ca5;
}
.tabs .avatar {
  width: 100%;
}

/*------------------------------------------------------*/
/* Toggle Styles
/*------------------------------------------------------*/
.toggle-main .toggle {
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.toggle-main .toggle-title {
  background-color: #fff;
  margin: 0;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.toggle-main .toggle-title h3 {
  padding: 20px 40px 20px 20px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  background: #D7E9F0 url("../images/faq-open2.png") no-repeat scroll 98% center;
  border-radius:5px;
  box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.29);
}
.toggle-main .toggle-title i {
  margin-right: 10px;
  font-size: 18px;
}
.toggle-main .toggle-content {
  padding: 20px 20px 5px;
  background-color: #fff;
  margin: 0;
  display: none;
}
.toggle-main .toggle.current .toggle-title {
  background-color: #1157AD; /*#f15b5a;*/
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.toggle-main .toggle.current .toggle-title h3 {
  color: #fff;
  background: url("../images/faq-close.png") no-repeat 98% center;
}
.toggle-main .toggle.current .toggle-content {
  /*border-bottom: 1px solid #dcdee4;*/
  border: 1px solid #dcdee4;
}

/*------------------------------------------------------*/
/* Accordion Styles
/*------------------------------------------------------*/
.accordion-main .accordion {
  margin-bottom: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.accordion-main .accordion-title {
  background-color: #eee;
  margin: 0;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.accordion-main .accordion-title h3 {
  padding: 10px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  background: url(../images/accordin-open.png) no-repeat 98% center;
}
.accordion-main .accordion-title i {
  margin-right: 10px;
  font-size: 18px;
}
.accordion-main .accordion-content {
  padding:10px;
  background-color: #fff;
  margin: 0;
  border:1px solid #eee;
  text-align:center;
  display: none;
}
.accordion-main .accordion.current .accordion-title {
  background-color: #eee;
  border-top: 5px solid #f37800;
}
.accordion-main .accordion.current .accordion-title h3 {
  color: #000;
  background: url(../images/accordin-close.png) no-repeat 98% center;
}
.accordion-main .accordion.current .accordion-content {
  border: 1px solid #dcdee4;
}
/*------------------------------------------------------*/
/* Short Codes Styles
/*------------------------------------------------------*/
.arrow-list-one ul {
  list-style: none;
  padding-left: 0;
}
.arrow-list-one ul li {
  padding-left: 25px;
  background: url(../images/arrow-list-one-bg.png) no-repeat 5px 5px;
}
.arrow-list-two ul {
  list-style: none;
  padding-left: 0;
}
.arrow-list-two ul li {
  padding-left: 28px;
  background: url(../images/arrow-list-two-bg.png) no-repeat 0px 3px;
}
.arrow-list-three ul {
  list-style: none;
  padding-left: 0;
}
.arrow-list-three ul li {
  padding-left: 25px;
  background: url(../images/arrow-list-three-bg.png) no-repeat 5px 7px;
}
/*  Tabs
---------------------------------*/
.entry-content .tabs-nav {
  margin: 0 !important;
  padding: 0 !important;
}
.entry-content .tabs-nav li {
  float: left;
  margin: 0;
  list-style: none;
  padding: 14px 10px 10px;
  text-align: center;
  cursor: pointer;
  background: #fafafa;
  border-top: 1px solid #dcdee4;
  border-left: 1px solid #dcdee4;
  border-bottom: none;
}
.entry-content .tabs-nav li:last-child {
  border-right: 1px solid #dcdee4;
}
.entry-content .tabs-nav li:hover,
.entry-content .tabs-nav li.active {
  background: #fff;
}
.entry-content .tabs-nav li.active {
  border-top: 3px solid #6dc068;
  margin-bottom: -2px;
  padding-top: 13px;
}
.entry-content .tabs-container {
  margin: 0 0 25px;
  display: block;
  border: 1px solid #dcdee4;
  padding: 20px 20px;
  background: #fff;
}
p.message {
  padding: 20px 25px;
  position: relative;
}
p.message .close {
  font-size: 24px;
  line-height: 11px;
  position: absolute;
  top: 10px;
  right: 11px;
}
p.message .close:focus {
  outline: none;
}
.bg-info {
  border-left: 3px solid #afd9ee;
}
.bg-warning {
  border-left: 3px solid #f7ecb5;
}
.bg-success {
  border-left: 3px solid #c1e2b3;
}
.bg-danger {
  border-left: 3px solid #e4b9b9;
}
.left-arrow {
  margin: 0;
}
.left-arrow li {
  list-style: circle outside none;
}
.left-arrow:last-of-type {
  margin-bottom: 50px;
}
.dropcap {
  color: #f15b5a;
  font-size: 44px;
  float: left;
  line-height: 44px;
  margin-right: 10px;
}
.dropcap.bg {
  background-color: #f15b5a;
  color: #fff;
  font-size: 26px;
  float: left;
  line-height: 26px;
  margin: 10px 10px 0 0;
  padding: 5px 8px;
  display: inline-block;
}
table {
  border: 1px solid #e0e0e0;
  border-top: 0;
  font-size: 14px;
  background-color: #fff;
  color: #3a3c41;
}
table thead {
  background-color: #66c9e0;
  border: 0;
  font-weight: 700;
  color: #3a3c41;
  padding: 0 1px;
}
table thead tr {
  border: 0;
}
table thead tr th {
  border: 0;
  border-right: 1px solid #5ab1c5;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
table thead tr th:first-child {
  border-left: 1px solid #66c9e0;
}
table thead tr th:last-child {
  border-right: 1px solid #66c9e0;
}
table tbody tr:first-child {
  border-top: 0;
}
table tbody td {
  font-size: 14px;
  font-weight: 500;
  color: #3a3c41;
  border: 1px solid #e0e0e0;
}
table tbody th {
  font-size: 14px;
  font-weight: 700;
  color: #3a3c41;
}
table tbody tr {
  border-top: 1px solid #e0e0e0;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 16px;
  display: table-cell;
  vertical-align: middle;
}
.tab-widget {
  background-color: #f3f4f5;
}
.tab-widget .nav-tabs {
  border: 0;
  margin: 0;
}
.tab-widget .nav-tabs > li {
  margin: 0;
  width: 33.33333%;
  height: 55px;
  line-height: 55px;
  display: inline-block;
  cursor: pointer;
}
.tab-widget .nav-tabs > li:last-child {
  border: none;
}
.tab-widget .nav-tabs > li.active,
.tab-widget .nav-tabs > li.active:hover,
.tab-widget .nav-tabs > li.active:focus {
  color: #fff;
  border: none;
  border-radius: 0;
}
.tab-widget .tab-content {
  padding: 15px;
}
.tab-widget .tab-content figure {
  float: left;
  margin-right: 10px;
}
.tab-widget .tab-post {
  border-bottom: 1px solid #d5d6d7;
  padding: 10px;
  margin-bottom: 20px;
}
.tab-widget .tab-post h6 {
  margin: 0;
  font-weight: 500;
  line-height: 18px;
}
.tab-widget .tab-post time {
  font-size: 12px;
  color: #999ca5;
  font-weight: 400;
  margin-bottom: 15px;
  display: inline-block;
}
.tab-widget .tab-post p {
  margin: 0;
}
.tab-widget .tab-post:last-child {
  border-bottom: 0;
  padding: 0px;
  margin-bottom: 0px;
}
.tab-widget .tab-bottom {
  background-color: #d5d6d7;
  width: 100%;
}
.tab-widget .tab-bottom .left,
.tab-widget .tab-bottom .right {
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}
.tab-widget .tab-bottom .left {
  background: url("../images/tab-nav-left.png") center no-repeat #bbbcbd;
  float: left;
}
.tab-widget .tab-bottom .left:hover {
  background: url("../images/tab-nav-hover.png") center no-repeat #bbbcbd;
}
.tab-widget .tab-bottom .right {
  background: url("../images/tab-nav.png") center no-repeat #bbbcbd;
  float: right;
}
.tab-widget .tab-bottom .right:hover {
  background: url("../images/tab-nav-hover-right.png") center no-repeat #bbbcbd;
}
.tab-var-one .nav-tabs {
  background-color: #ffd543;
}
.tab-var-one .nav-tabs > li {
  border-right: 1px solid #ffc118;
  color: #e89300;
}
.tab-var-one .nav-tabs > li.active,
.tab-var-one .nav-tabs > li.active:hover,
.tab-var-one .nav-tabs > li.active:focus {
  background-color: #ffc118;
}
.tab-var-two .nav-tabs {
  background-color: #f15b5a;
}
.tab-var-two .nav-tabs > li {
  border-right: 1px solid #de4c4a;
  color: #c63836;
}
.tab-var-two .nav-tabs > li.active,
.tab-var-two .nav-tabs > li.active:hover,
.tab-var-two .nav-tabs > li.active:focus {
  background-color: #de4c4a;
}
.tab-var-three .nav-tabs {
  background-color: #66c9e0;
}
.tab-var-three .nav-tabs > li {
  border-right: 1px solid #2f93ab;
  color: #2f93ab;
}
.tab-var-three .nav-tabs > li.active,
.tab-var-three .nav-tabs > li.active:hover,
.tab-var-three .nav-tabs > li.active:focus {
  background-color: #2f93ab;
}
.flexslider-var-one ol,
.flexslider-var-one ul {
  margin: 0;
}
.flexslider-var-one .slides li img {
  -webkit-box-shadow: inset 0px 0px 34px 0px #000;
  -moz-box-shadow: inset 0px 0px 34px 0px #000;
  box-shadow: inset 0px 0px 34px 0px #000;
}
.flexslider-var-one .flex-control-thumbs {
  position: relative;
  width: 106px;
  float: left;
  margin-top: -40px;
}
.flexslider-var-one .flex-control-thumbs li {
  width: 106px;
  margin-bottom: 20px;
  position: relative;
}
.flexslider-var-one .flex-control-thumbs li.active {
  background: url("../images/active-slide-arrow.png") right center no-repeat;
}
.flexslider-var-one .flex-control-thumbs li.active span {
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid #66c9e0;
  width: 94%;
  height: 78px;
  display: block;
  z-index: 999;
}
.flexslider-var-one .flex-control-thumbs img {
  width: auto;
  height: auto;
  opacity: 1;
  margin: 0 -4px 0 0;
}
.flexslider-var-one .flex-viewport {
  width: 440px;
  float: right;
}
.flexslider-var-one .flexslider {
  overflow: visible;
}
.flexslider-var-two ol,
.flexslider-var-two ul {
  margin: 0;
}
.flexslider-var-two .slides li img {
  -webkit-box-shadow: inset 0px 0px 34px 0px #000;
  -moz-box-shadow: inset 0px 0px 34px 0px #000;
  box-shadow: inset 0px 0px 34px 0px #000;
}
.flexslider-var-two .flex-control-thumbs {
  position: relative;
  width: 100%;
  margin: 0;
  margin-left: -15px;
}
.flexslider-var-two .flex-control-thumbs li {
  width: 100px;
  padding-top: 6px;
  margin-left: 15px;
  position: relative;
}
.flexslider-var-two .flex-control-thumbs li.active {
  background: url("../images/active-slide-arrow2.png") top center no-repeat;
}
.flexslider-var-two .flex-control-thumbs li.active span {
  position: absolute;
  top: 6px;
  left: 0;
  border: 4px solid #66c9e0;
  width: 100%;
  height: 78px;
  display: block;
  z-index: 999;
}
.flexslider-var-two .flex-control-thumbs img {
  width: auto;
  height: auto;
  opacity: 1;
  margin: 0 -4px 0 0;
}
.flexslider-var-two .flexslider {
  width: 470px;
  float: right;
  overflow: visible;
}
/*------------------------------------------------------*/
/* Contact page Styles
/*------------------------------------------------------*/
.contact-page {
  padding: 0;
}
.contact-page .map-wrapper {
  margin-top: 0;
}
.contact-page .map-wrapper h5 {
  margin-bottom: 0px;
}
.contact-page #map-canvas {
  width: 100%;
  height: 355px;
}
.contact-page #map-canvas img {
  width: auto;
  max-width: none;
}
#contact_form{
    margin-right: 50px;
}
.contact-page .contact-form input[type="text"],
.contact-page .contact-form textarea {
  padding: 15px;
}
.contact-page .contact-form input[type="text"],
.contact-page .contact-form textarea {
  width: 100%;
  height: auto;
  border: 1px solid #dcdee4;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 15px 10px;
  color: #3a3c41;
  font-weight: 500;
  outline: none;
}
.contact-page .contact-form input[type="submit"] {
  padding: 15px 27px;
  border: none;
  float: right;
}
.contact-page .contact-form input[type="submit"]:focus{
    outline: none;
}
.contact-page .contact-form input.error,
.contact-page .contact-form textarea.error {
  border: 1px solid #DF1E2D;
}
#error-container label.error {
  font-weight: normal;
  color: #DF1E2D;
}
.contact-sidebar .timetable-area h5 {
  margin-bottom: 20px;
}
.contact-sidebar .timetable-area .blue {
  color: #10b1d6;
}
.contact-sidebar .timetable-area,
.contact-sidebar .address-area,
.contact-sidebar .social-icon {
  border-bottom: 1px solid #dcdee4;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.contact-sidebar h2 {
  margin: 0 0 30px;
}
.contact-sidebar address {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  line-height: 26px;
}
.contact-sidebar p {
  color: #333333;
}
.contact-sidebar p strong {
  color: #3a3c41;
  font-weight: 500;
  margin-right: 20px;
  min-width: 50px;
  display: inline-block;
  text-align: right;
}
.contact-sidebar .social-icon {
  padding-bottom: 40px;
  margin-left: -5px;
}
.contact-sidebar .social-icon li {
  margin: 0 5px 5px 0;
}
.contact-sidebar .social-icon h5 {
  margin-bottom: 20px;
}
.contact-sidebar .social-icon li.twitter-icon:hover {
  background-color: #2bbfec;
}
.contact-sidebar .social-icon li.skype-icon:hover {
  background-color: #0099e5;
}
.contact-sidebar .social-icon li.facebook-icon:hover {
  background-color: #395b89;
}
.contact-sidebar .social-icon li.linkedin-icon:hover {
  background-color: #1184cd;
}
.contact-sidebar .social-icon li.youtube-icon:hover {
  background-color: #d02525;
}
.contact-sidebar .social-icon li.instagram-icon:hover {
  background-color: #457299;
}
.contact-sidebar .social-icon li.rss-icon:hover {
  background-color: #ec894d;
}
.contact-sidebar .social-icon li.google-icon:hover {
  background-color: #d63b3b;
}
/* big text styles for 404 page */
.jumbotron {
  background: none;
  padding-top: 60px;
  padding-bottom: 100px;
}
.jumbotron h1 {
  font-size: 250px;
  font-weight: 800;
  color: #66c9e0;
}
.jumbotron h1 span {
  color: #999ca5;
}
.jumbotron p {
  line-height: 30px;
}
.appoint-page {
  padding: 40px 0 60px;
}
.appoint-page .entry-content {
  margin-bottom: 40px;
}
.appoint-page .appoint-section {
  background: #3a3c41 url("../images/appoint-form-bg.png") top center repeat-y;
  padding: 10px 70px 70px;
  border-radius: 5px;
}
.appoint-page .appoint-section .top-icon {
  width: 100%;
  text-align: center;
  z-index: 99999;
}
.appoint-page .appoint-section .top-icon img {
  pointer-events: none;
}
.appoint-page form {
  background: url("../images/appoint-form-bottom.png") bottom center repeat-x #ffffff;
  padding: 60px 20px;
  margin-top: -36px;
}
.appoint-page form input[type="text"],
.appoint-page form input[type="email"],
.appoint-page form textarea {
  width: 100%;
  border: 0;
  outline: none;
  border-bottom: 1px solid #dcdee4;
  padding: 5px;
  margin-bottom: 40px;
}
.appoint-page form input[type="text"].error,
.appoint-page form input[type="email"].error,
.appoint-page form textarea.error {
  border-color: red;
}
.appoint-page form #appointment-loader {
  margin: 0 20px;
}
.appoint-page form #message-sent {
  font-weight: 700;
}
#contact-loader {
  float: right;
  margin: 17px 0 0 0;
  display: none;

}
.wpcf7-form > p {
  font-weight: bold;
  letter-spacing: 1px;
}
.wpcf7-form span.wpcf7-form-control-wrap {
  display: inline !important;
}
.wpcf7-form span.wpcf7-not-valid-tip {
  font-weight: normal;
  letter-spacing: 0.5px;
}
.wpcf7-form .wpcf7-form-control {
  margin-top: 5px;
}
.wpcf7-form .wpcf7-list-item-label {
  font-weight: normal;
}
.wpcf7-form input[type="text"].wpcf7-quiz,
.wpcf7-form input[type="number"],
.wpcf7-form input[type="date"] {
  width: auto;
}
/*-----------------------------------------------------------------------------------*/
/* IE 8 fixes
/*-----------------------------------------------------------------------------------*/

.flex-direction-nav a,.gallery-slider .flex-direction-nav a{
    filter: alpha(opacity=0);        /* IE 6, 7, 8 */
}

.gallery-slider:hover .flex-next, .gallery-slider:hover .flex-prev{
    filter: alpha(opacity=70);        /* IE 6, 7, 8 */
}

.flexslider:hover .flex-next, .flexslider:hover .flex-prev,.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover,.gallery-slider:hover .flex-next:hover, .gallery-slider:hover .flex-prev:hover{
    filter: alpha(opacity=100);        /* IE 6, 7, 8 */

}

/*---------------------Table----------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.faq table {
  width:100%;
  margin: 10px;
}

.faq caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

.faq thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

.faq tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

.faq tr:nth-child(even) {
  background: #e8eeef;
}

.faq th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

.faq tfoot tr {
  background: none;
}

.faq tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}
.faq ul li {
  padding:0px;
  list-style:none;
}

/*------------------------ Streaming ------------------------*/
.stream {
			padding-top:40px;
			background:#fff;
		}
		
		.stream .video-box {
			background:#00AEEF;
			padding:15px 0;
			margin: 0 15px 40px 15px;
		}
		
		.stream .video-box h3, .stream .video-box p {
			color:#fff;
		}
		
		.stream .video-box h3 {
			margin-bottom:20px;
		}
		
		.stream .video-box p {
			margin-top:20px;
		}
		
		.stream .video-page {
			padding-bottom:0px;
		}
		
		.stream .video-page .row {
			width:1170px;
		}
		
		.stream .video-page .isotope-item {
			padding-bottom:0px;
		}
		
		.stream .video-page .four-col-gallery.common .content {
			padding: 5px 0;
		}
		
		.stream .video-page .common {
			margin-bottom: 30px;
		}
		
		.stream .manual-box {
			border:1px solid #ccc;
		}
		
		.stream .manual-box h4 {
			margin-top:0;
			background:#ccc;
			padding:12px 0;
			text-align:center;
		}
		
		.stream .manual-box p {
			padding:0 15px 30px 15px;
		}
		
		.stream .entry-content .tabs-nav li {
			background: #F0F5F7;
		}
		
		.stream .entry-content .tabs-nav li.active {
			border-top: 3px solid #00AEEF;
			background: #fff;
		}
		
		.stream .tab-post-listing figure {
			width: 100px;
			float: left;
			margin: 0 15px 30px 0;
		}
		
		.stream .entry-content h6 {
			margin-top:0;
		}
		
		.stream .blog-page {
			padding-bottom:0;
		}
		
		.stream .gallery-page {
			padding-bottom:20px;
		}
		
		.stream .gallery-page .row {
			width:1170px;
			padding:0 15px;
		}
		
		.stream .gallery-page .isotope-item {
			padding:0px;
		}
		
		.stream .gallery-page .common {
			margin-bottom: 15px;
		}
/*------------------------- Magazine flex ---------------------*/
		.magazine {
			padding:80px 0 80px 0;
		}
		
		.magazine .magazine-three .flex-magazine-nav .flex-magazine--prev {
			left: 23%;
		}
		
		.magazine .magazine-three .flex-magazine-nav .flex-magazine--next {
			right: 23%;
		}
		
		.magazine .magazine-three .flex-magazine-nav a {
			top: 270px;
		}
		
		.magazine .magazine-three {
			background:#F0F5F7;
			padding:40px 30px 20px 30px;
			min-height: 585px;
		}
		
		.magazine .magazine-three .magazine-slides img {
			width: 40%;
			margin-top:30px;
			-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.35);
			-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.35);
			box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.35);
		}
		
		.magazine blockquote p {
			font-size: 14px;
			line-height: 24px;
		}
/*------------------------- Youtube playlist ---------------------*/
 .youtube-container {
    margin-right: 20px;
    /* max-width: 560px; */
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  
  .video-placeholder {
    cursor: pointer;
    position: relative;
    margin: 0 10px 10px 0;
  }
  
  .youtube-icon {
    width: 30%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -11%;
    margin-left: -12%;
  }
  
  .youtube-thumb {
    border: 1px dashed purple;
    width: 257px;
    height: 146px;
  }
  
  @media screen and (max-width: 500px) {
    .youtube-thumb {
      width: 100%;
      height: auto;
    }
    .video-placeholder iframe {
      width: 100%;
      height: auto;
    }
  }
  
  @media screen and (max-width: 568px) {
    .youtube-container {
      width: 100%;
    }
  }		
/*------------------------- new add 23-9-58 ---------------------*/
.header-top .ttLeft {
    float: left;
}

.topBar.gutter {
    padding: 7px 0px 8px;
}
.topBar {
    padding: 7px 15px 8px;
    background-color: #00AEEF;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.gutter .port {
    max-width: 1200px;
    margin: 0px auto;
}
.port {
    width: auto;
    margin: 0px 20px;
}
.topTools.ttLeft .ico {
    margin: 0px 4px 0px 0px;
}
.header-top .topTools .ico {
    float: left;
    margin: 0px 4px 0px 0px;
}
.header-top .ttRight {
	margin-top:10px;
	margin-right:10px;
    float: right;
}
.header-top .ttCenter {
	margin-top:10px;
	margin-left:10px;
    float: left;
}
.ico a[data-ico-fa]::before {
    font-family: FontAwesome;
    content: attr(data-ico-fa);
}
.ico.white a::before {
    background-color: #FFF;
    color: #F37800;
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 0px #FFF inset;
}
.ico a::before, .iconsToggler {
    display: inline-block;
    float: left;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: normal;
    border-radius: 50%;
    color: #FFF;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 0px 0px #F37800 inset;
    transition: all 240ms ease 0s;
}
.ico a strong, .ico a span {
    display: inline-block;
    margin: 0px 18px 0px 8px;
}
.ico a:hover strong, .ico a:hover span {
    opacity: 0.7;
}
.ico a[data-ico-fa]::before {
    font-family: FontAwesome;
    content: attr(data-ico-fa);
}
.ico.accent a::before, .iconsToggler {
    background-color: #F37800;
    color: #FFF;
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 0px #F37800 inset;
}
*::-moz-selection {
    color: #FFF;
    text-shadow: none;
    background: #2B2E31 none repeat scroll 0px 0px;
}
.know .pic::before, #animating-block-5 .pic::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
}

.know ul {
    margin: -40px -40px 0px;
    font-size: 0px;
}
.know li {
    display: inline-block;
    vertical-align: top;
    width: 545px;
    margin: 40px 40px 0px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E3E3E3;
}
.know .pic, #animating-block-5 .pic, i.pic {
    position: relative;
    display: block;
    float: left;
    width: 90px;
    height: 90px;
    margin-right: 20px;
    font-size: 48px;
    line-height: 90px;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
}
.know h2 {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 22px;
}
.know p {
    overflow: hidden;
    padding-right: 40px;
    font-size: 14px;
    line-height: 22px;
    color: #7C7C7C;
}
.know .more {
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
}
div.officer-departments {
  margin: 0 25px 30px;
}
div.officer-departments {
  margin: 0 0 20px;
}
div.officer-departments a {
  font-size: 14px;
  font-weight: 400;
  color: #67c9e0;
  display: inline-block;
}
div.officer-departments a:hover {
  color: #52b2c9;
}
.officer-single .entry-meta div.officer-departments {
  margin: 0 25px 30px;
}
	.officer-posts {
		background:#fff;
	}
	.officer-posts .cate {
		text-align:left;
		background:;
	}
	.officer-posts .cate h3 {
		margin-top:0;
	}
	.officer-posts .cate ul {
		padding:0;
	}
	.officer-posts .cate ul li {
		list-style:none;
		padding:15px 0;
		border-bottom:1px solid #ccc;
		font-size:14px;
	}
	.officer-posts .cate ul li i {
		float:right;
	}
	
	.officer-posts .common-officer .text-content {
		background:#F0F5F7;
	}
	/*------------- top-bar ---------------------*/
	.header-top {
		background-color: #00AEEF;
		padding: 6px 0;
	}
	.topBar.gutter {
		padding: 0;
		height: 40px;
		margin-bottom:3px;
	}
	.ico a strong, .ico a span {
		display: inline-block;
		margin: 0px 10px 0px 8px;
		line-height: 34px;
		color:#fff;
	}
	.ico strong, .ico span {
		display: inline-block;
		margin: 0px 7px 0px 10px;
		line-height: 34px;
		color:#fff;
	}
	.ico.white a:hover:before, .ico.blackwhite a:hover:before, .ico.black a:hover:before, .ico.blackyellow a:hover:before {
		color:#fff;
		border: 1px solid #fff;
		-webkit-box-shadow: 0 0 0 .9em #f37800 inset;
		box-shadow: 0 0 0 .9em #f37800 inset;
	}
	.ico.accent a:hover:before, .iconsToggler:hover, .shown .iconsToggler, .ico a:hover:before {
		background-color: #f37800;
		color: #f37800;
		border: 1px solid transparent;
		-webkit-box-shadow: 0 0 0 .9em #fff inset;
		box-shadow: 0 0 0 .9em #fff inset;
	}
	.ico.blackwhite a:before {
		background-color: #000;
		color: #FFF;
		border: 1px solid transparent;
		-webkit-box-shadow: 0 0 0 0 #fff inset;
		box-shadow: 0 0 0 0 #fff inset;
	}
	.ico.black a:before {
		background-color: #FFF;
		color: #000;
		border: 1px solid transparent;
		-webkit-box-shadow: 0 0 0 0 #fff inset;
		box-shadow: 0 0 0 0 #fff inset;
	}
	.ico.blackyellow a:before {
		background-color: #000;
		color: #f3d010;
		border: 0px solid transparent;
		-webkit-box-shadow: 0 0 0 0 #fff inset;
		box-shadow: 0 0 0 0 #fff inset;
	}
/*----------------- table resault -------------------*/
.resault .tabs .tab-head {
		border-top: 4px solid transparent;
		width: 33.333%;
		border-right: 1px solid #ffffff;
	}
	.resault .tabs .tab-head.active {
		border-top: 5px solid #1157ad;
		width: 33.333%;
	}
	
	.resault table tbody tr:first-child {
		background:#1157AD !important;
	}
	.resault table tbody tr:first-child td {
		color:#fff;
		font-weight:bold;
	}
	.resault table tbody tr:nth-child(odd) {
		background:#f5f5f5;
	}
	.resault table tbody td {
		padding:15px;
	}
	.resault table tbody td:first-child, .resault table tbody td:last-child {
		text-align:center;
		width:14%;
	}
	.resault table tbody td i {
		font-size:18px;
		padding-right:3px;
	}
	.resault .pagination_wrapper {
		padding-top:20px;
		padding-bottom:10px;
	}
/*----------------- table download -------------------*/	
	.download .tabs .tab-head {
		border-top: 4px solid transparent;
		width: 33.3%;
	}
	.download .tabs .tab-head.active {
		border-top: 5px solid #1157ad;
		width: 33.3%;
	}
	
	.download table tbody tr:first-child {
		background:#1157AD !important;
	}
	.download table tbody tr:first-child td {
		color:#fff;
		font-weight:bold;
	}
	.download table tbody tr:nth-child(odd) {
		background:#f5f5f5;
	}
	.download table tbody td {
		padding:15px;
	}
	.download table tbody td:first-child, .download table tbody td:last-child {
		text-align:center;
		width:14%;
	}
	.download table tbody td i {
		font-size:18px;
		padding-right:3px;
	}
	.download .pagination_wrapper {
		padding-top:20px;
		padding-bottom:10px;
	}
/*----------------- table unit -------------------*/	
	.unit .unit-tabs .unit-tab-head {
		border-top: 4px solid transparent;
		width: 50%;
	}
	.unit .unit-tabs .unit-tab-head.active {
		border-top: 5px solid #1157ad;
		width: 50%;
	}
	
	.unit table tbody tr:first-child {
		background:#1157AD !important;
	}
	.unit table tbody tr:first-child td {
		color:#fff;
		font-weight:bold;
	}
	.unit table tbody tr:nth-child(odd) {
		background:#f5f5f5;
	}
	.unit table tbody td {
		padding:15px;
	}
	.unit table tbody td:first-child, .unit table tbody td:last-child {
		text-align:center;
		width:14%;
	}
	.unit table tbody td i {
		font-size:18px;
		padding-right:3px;
	}
	.unit .pagination_wrapper {
		padding-top:20px;
		padding-bottom:10px;
	}
	
	.unit .unit-tabs .unit-tab-head {
		border-top: 4px solid transparent;
		width: 50%;
	}
	.unit .unit-tabs .unit-tab-head.active {
		border-top: 5px solid #1157ad;
		width: 50%;
	}
	
	.unit table tbody tr:first-child {
		background:#1157AD !important;
	}
	.unit table tbody tr:first-child td {
		color:#fff;
		font-weight:bold;
	}
	.unit table tbody tr:nth-child(odd) {
		background:#f5f5f5;
	}
	.unit table tbody td {
		padding:15px;
	}
	.unit table tbody td:first-child, .unit table tbody td:last-child {
		text-align:center;
		width:14%;
	}
	.unit table tbody td i {
		font-size:18px;
		padding-right:3px;
	}
	.unit .pagination_wrapper {
		padding-top:20px;
		padding-bottom:10px;
	}
.icon-ques i{
 float:left;
 display:inline-block;
 background:url ("../images/bullet/ques.png") no-repeat;
 }
 .blue {
 color:#0391ff;
 }
 .content-box {
 margin:30px;
 background-color:#f5f7f2;
 border-radius:5px;
 border-top:5px solid #004a80;
 }
 /*------------ select box --------------------*/
 .select-style {
    padding: 0;
    margin: 20px 0;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: url ("../images/arrow-select.png") 90% 50% ;
}

.select-style select {
    padding: 5px 3px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}
/*----------- payroll --------------*/
	
	.payroll .bbp-header ul li {
		font-size:14px;
		float:left;
		padding:10px 0;
	}
	.payroll #bbpress-forums .bbp-forums .bbp-header ul {
		background-color: #1157ad !important;
	}
	.payroll .bbp-body ul li {
		font-size:14px;
		line-height:20px;
		float:left;
		padding:10px;
	}
	.payroll #bbpress-forums .bbp-forums li:nth-child(odd) ul {
		background:#f5f5f5;
	}
	.payroll #bbpress-forums li.bbp-header, .payroll #bbpress-forums li.bbp-body ul.forum {
		padding:0 !important;
	}
	.payroll li.bbp-forum-num {
		width: 5%;
		text-align:center;
	}
	.payroll li.bbp-forum-topic {
		width: 66%;
	}
	.payroll li.bbp-forum-update {
		width: 11%;
		text-align:center;
	}
	.payroll li.bbp-forum-type {
		width: 18%;
		
	}
	.payroll #bbpress-forums, .payroll #bbpress-forums ul.bbp-forums {
		margin-bottom:0;
	}
	
	.payroll-option {
		padding-bottom:15px; 
		font-size:14px;
	}
	.payroll-option select {
		padding:5px;
		.header-top 
		background-color: #00AEEF;
		padding: 6px 0;
	}