@charset "utf-8";
/* CSS Document */

#paging_button{	
    /*bottom:0;position:absolute;
    z-index:0;clear:both;*/
    padding:20px 0;
    float:right;
	font-size:14px;
}	

#paging_button a{
	text-decoration: none;
	color:#333333;
}

#bgnexttwo
{
    border:1px #666666 solid;
    min-width:21px;
    height:28px;
    margin:0 5px;
    padding:2px 0;
    text-align:center;
    float:left;	
	
}

#page_selected {
    background-color:#424041;
    color:#FFFFFF;
    border:1px #666666 solid;
    min-width:21px;
    height:28px;
    margin:0 5px;
    padding:2px 0;
    text-align:center;
    float:left;
}

.img_prv_nxt {
	float:left;
	padding:2px 0 0 0;
}
