/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 ต.ค. 2557, 11:03:19
    Author     : Santipap
*/
.table2 thead tr th{
    text-align: center;
/*    border: #000 solid 1px;*/
}
.table2 thead tr td:nth-child(1){
    width: 50px;
}
.table2 thead tr td:nth-child(3){
    width: 204px;
}
.table2 thead tr td:nth-child(4){
    width: 204px;
}
.table2 thead tr td:nth-child(5){
    width: 92px;
}
.table2 thead tr td:nth-child(6){
    width: 94px;
}
.table2 thead tr td:nth-child(7){
    width: 60px;
}
.table2 thead tr td:nth-child(8){
    width: 60px;
}
.table2 thead tr td:nth-child(9){
    width: 40px;
}
.table2 thead tr td:nth-child(10){
    width: 60px;
}
.table2 thead tr td:nth-child(11){
    width: 60px;
}

.table2 tbody tr td:nth-child(1){
    text-align: center;
}
.table2 tbody tr td:nth-child(3){
    text-align: right;
}
.table2 tbody tr td:nth-child(4){
    text-align: right;
}
.table2 tbody tr td:nth-child(5){
    text-align: center;
}
.table2 tbody tr td:nth-child(6){
    text-align: center;
}
.table2 tbody tr td:nth-child(7){
    text-align: center;
}
.table2 tbody tr td:nth-child(8){
    text-align: center;
}
.table2 tbody tr td:nth-child(9){
    text-align: center;
}
.table2 tbody tr td:nth-child(10){
    text-align: center;
}
.table2 tbody tr td:nth-child(11){
    text-align: center;
}

.table3 thead tr th{
    text-align: center;
/*    border: #000 solid 1px;*/
}
.table3 thead tr th:nth-child(1){
    width: 50px;
}
.table3 thead tr th:nth-child(2){
    width: 250px;
}
.table3 thead tr th:nth-child(4){
    width: 120px;
}
.table3 thead tr th:nth-child(5){
    width: 92px;
}
.table3 thead tr th:nth-child(6){
    width: 100px;
}
.table3 thead tr th:nth-child(7){
    width: 60px;
}
.table3 thead tr th:nth-child(8){
    width: 40px;
}
.table3 thead tr th:nth-child(8){
    width: 60px;
}

.table3 tbody tr td:nth-child(1){
    text-align: center;
}
.table3 tbody tr td:nth-child(2){
    text-align: left;
}
.table3 tbody tr td:nth-child(4){
    text-align: center;
}
.table3 tbody tr td:nth-child(5){
    text-align: center;
}
.table3 tbody tr td:nth-child(6){
    text-align: center;
}
.table3 tbody tr td:nth-child(7){
    text-align: center;
}
.table3 tbody tr td:nth-child(8){
    text-align: center;
}
.table3 tbody tr td:nth-child(9){
    text-align: center;
}

.table4 tbody tr td:nth-child(1){
/*    border: #000 solid 1px;*/
    width: 300px;
}

.status-success{
    padding: 2px 3px;
    color: #fff;
    background-color: #33cc00;
    width: 50px;
}
.status-failed{
    padding: 2px 3px;
    color: #fff;
    background-color: #ff0000;
    width: 50px;
}
.overview-chart-success1{
    padding: 2px 12px;
    color: #fff;
    background-color: #0033FF;
}
.overview-chart-Failed1{
    padding: 2px 12px;
    color: #fff;
    background-color: #F7464A;
}
.overview-chart-success{
    padding: 2px 12px;
    color: #fff;
    background-color: #77e67a;
}
.overview-chart-Failed{
    padding: 2px 12px;
    color: #fff;
    background-color: #F7464A;
}