@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
*, *::after, *::before {
  box-sizing: border-box; }

.app_btn {
    color : #FFF;
    font-weight : bold;
    font-size:8pt;
}

.toggle-button {
    font-family: 'Raleway', Arial, sans-serif;    
    margin: 0px;
    position: relative;
    display: inline-block;
    color: #fff; }

.toggle-button label {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-align: left; }

.toggle-button input {
    display: none; }

.toggle-button__icon {
    cursor: pointer;
    pointer-events: none; }

.toggle-button__icon:before, .toggle-button__icon:after {
    content: "";
    position: absolute;
    top: 45%;
    left: 35%;
    transition: 0.2s ease-out; }

.toggle-button--aava label {
    height: 40px;
    line-height: 40px;
    transition: all 0.2s;
/*    border-radius: 2rem; */}
.toggle-button--aava label:before, .toggle-button--aava label:after {
    position: absolute;
    right: 1.5rem;
    transition: all 0.2s .1s ease-out; }
.toggle-button--aava label:before {
    content: attr(data-on-text); }
.toggle-button--aava label:after {
    content: attr(data-off-text); }

.toggle-button--aava input[type=checkbox] + label {
    width: 120px;
    background: #FF5335; }
.toggle-button--aava input[type=checkbox] + label:before {
    opacity: 0;
    transform: translate(0, 20px); }
.toggle-button--aava input[type=checkbox] + label:after {
    opacity: 1;
    transform: translate(0, 0); }

.toggle-button--aava input[type=checkbox]:checked ~ label {
    width: 120px;
    background: #61B136; }
.toggle-button--aava input[type=checkbox]:checked ~ label:before {
    opacity: 1;
    transform: translate(0, 0); }
.toggle-button--aava input[type=checkbox]:checked ~ label:after {
    opacity: 0;
    transform: translate(0, -20px); }

.toggle-button--aava input[type=checkbox]:checked ~ .toggle-button__icon:before {
    transform: translate(-10%, 100%) rotate(45deg);
    width: 16.66667px; }
.toggle-button--aava input[type=checkbox]:checked ~ .toggle-button__icon:after {
    transform: translate(30%) rotate(-45deg); }

.toggle-button--aava .toggle-button__icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px; }
.toggle-button--aava .toggle-button__icon:before, .toggle-button--aava .toggle-button__icon:after {
    height: 3px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
.toggle-button--aava .toggle-button__icon:before {
    width: 25px;
    transform: rotate(45deg); }
.toggle-button--aava .toggle-button__icon:after {
    width: 25px;
    transform: rotate(-45deg); }

@keyframes icon-hover-before {
  0% {
    transform: rotate(45deg) scale(1, 1); }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2); } }

@keyframes icon-hover-after {
  0% {
    transform: rotate(-45deg) scale(1, 1); }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2); } }

@keyframes iconShowBefore {
  0% {
    transform: translate(0, 0) rotate(45deg) scale(0, 1); }
  100% {
    transform: translate(0, 0) rotate(45deg) scale(0.6, 1); } }

@keyframes iconShowAfter {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1;
    transform: translate(4px, 6px) rotate(-45deg) scale(0, 1); }
  100% {
    transform: translate(4px, 6px) rotate(-45deg) scale(1, 1); } }

@keyframes iconHoverBefore {
  0% {
    transform: rotate(45deg) scale(1, 1); }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2); } }

@keyframes iconHoverAfter {
  0% {
    transform: rotate(-45deg) scale(1, 1); }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2); } }   